/*Disclaimer: This UI design was rushed over quickly because the project in
totality was sudden and was just to quickly conclude it to build another project which was 
big at this time*/
body {
	margin: 0rem;
}
/*UI design for the header and nav bar*/
nav {
	list-style-type: none;
	margin-bottom: 3rem;
	display: flex;
	font-size: 2vh;
	justify-content: space-between;
	background: rgb(128, 81, 64);
	color: whitesmoke;

}

.logo {
	color: rosybrown;
	text-align: center;
	font-size: 30px;
	margin-left: 1.5rem;
}

.logo-name {
	margin-left: 1.5rem;
	font-size: .8rem;
	font-weight: bolder;
}

.home {
	margin-right: 1rem;
	margin-top: 1rem;
	font-size: large;
	border-bottom-color: whitesmoke;
}
/*UI style properties for the main part of the webpage*/
.container {
	text-align: center;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.first, .second, .third {
	width: calc(100% - 2rem);
	border: 1px solid teal;
	margin-bottom: 2rem;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.text {
	font-size: .6rem;
	padding: .5rem;
	box-shadow: 0px 10px 30px -15px rgba(48, 47, 47, 0.404);
	background: rgb(240, 239, 239);
	color: rgb(44, 44, 43);
}

.first img, .second img, .third img {
	width: 100%;
}

/*UI styling for the loading effect at the bottom of the screen*/
.loading {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-top: 2px solid teal;
	margin-left: 50%;
	position: relative;
	animation: a1 2s linear infinite;
}

.loading::before, .loading::after {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: -2px;
	box-sizing: border-box;
	border-radius: 50%;
}

.loading::before {
	border-top: 2px solid rgb(128, 81, 64);
	transform: rotate(120deg);
}

.loading::after {
	border-top: 2px solid #3498db;
	transform: rotate(240deg);
}

@keyframes a1 {
	to {
		transform: rotate(360deg);
	}
}

/*Made responsive changes for what is considered desktop view.*/
@media screen and (min-width: 1023px) {
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		flex-direction: row;
		margin-top: -6rem;
	}

	.first, .second, .third {
		margin: 0rem;
	}

	.first {
		margin-bottom: 1rem;
		margin-left: .4rem;
	}

	.second {
		margin-top: 6rem;
		margin-bottom: 1rem;
	}

	.third {
		margin-top: -1rem;
	}

	.text {
		font-size: 1vw;
	}

	.loading {
		margin-left: 50%;
	}
}	